.pagination_container {
  width: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 1rem auto;
}
.loading_container {
  width: 100%;
  text-align: center;
}
.loading_container span {
  font-size: 45px;
  font-weight: 600;
}
.TestPage__ItemsContainer {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
  margin: 0 auto;
}
.TestPage__PostContainer {
  width: 500px;
  max-width: 500px;
  background-color: rgb(238, 238, 238);
  border-radius: 20px;
  margin: 0.5rem 0;
}
.TestPage__PostContainer-head {
  width: 100%;
  padding: 1rem 0 0.5rem 0;
}
.TestPage__PostContainer-head_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.TestPage__PostContainer-head_items--detailuser {
  display: flex;
  align-items: center;
  flex-basis: 70%;
}
.TestPage__PostContainer-head_items--detailuser img {
  border-radius: 50px;
  width: 15%;
  margin-right: 0.5rem;
}
.TestPage__PostContainer-head_items--detailuser span {
  font-size: 12px;
  color: rgb(148, 147, 147);
  margin-left: 0.2rem;
}
.TestPage__PostContainer-head_items--detailuser_title {
  color: black !important;
  font-size: 16px !important;
  font-weight: 900;
}
.TestPage__PostContainer-description {
  display: block;
  width: 100%;
  margin: 0 auto 1rem auto;
  padding: 0 1rem;
  font-size: 14px;
  line-height: 16px;
  color: black;
}
.TestPage__PostContainer-MainImage {
  text-align: center;
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin-bottom: 1rem;
}
.TestPage__PostContainer-MainImage img {
  border-radius: 20px;
  max-width: 90%;
  max-height: 100%;
  margin: 0 auto;
}
.TestPage__PostContainer-LinksContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
.TestPage__PostContainer-LinksContainer div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.TestPage__PostContainer-LinksContainer div a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.TestPage__PostContainer-LinksContainer div span {
  margin-left: 0.25rem;
  font-size: 12px;
}
@media (max-width: 425px) {
  .TestPage__PostContainer {
    width: 70%;
  }
  .TestPage__PostContainer-MainImage {
    height: 70%;
  }
  .TestPage__PostContainer-head_items--detailuser {
    flex-basis: 90%;
  }
  .TestPage__PostContainer-head_items--detailuser img {
    width: 16%;
    margin-right: 0.25rem;
  }
  .TestPage__PostContainer-head_items--detailuser span {
    font-size: 10px;
  }
  .TestPage__PostContainer-head_items--detailuser_title {
    font-size: 12px !important;
    font-weight: 900;
  }
  .TestPage__PostContainer-description {
    width: 100%;
    font-size: 12px;
    line-height: 14px;
  }
}
