/* .MainPage__AppSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60%;
  max-width: 1440px;
  overflow: hidden;
  margin: 10rem auto 0 auto;
}
.MainPage__AppSection--title {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 45%;
  margin-left: 2rem;
}
.MainPage__AppSection--title h1 {
  margin: 0;
  font-size: 2.5rem;
}
.MainPage__AppSection--title p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
} */
/* .MainPage__AppSection--title_btns {
  margin-bottom: 1.5rem;
} */
/* .MainPage__AppSection--title_btns button {
  padding: 1rem 1.5rem;
  border: 0;
  border-radius: 10px;
  margin-right: 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  background-color: black;
  color: white;
} */
/* .MainPage__AppSection--title_btns button i {
  margin-left: 0.5rem;
} */
/* .MainPage__AppSection--title_btns :last-child {
  background-color: white;
  color: black;
} */
/* 
.MainPage__AppSection--img_digital {
  padding-top: 20rem;
  width: 40%;
}
@media (max-width: 1366px) {
  .MainPage__AppSection {
    justify-content: space-around;
  }
  .MainPage__AppSection--title {
    padding-top: 5rem;
    margin-left: 1rem;
  }
  .MainPage__AppSection--title h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
  }
}
@media (max-width: 1024px) {
  .MainPage__AppSection {
    justify-content: space-between;
    height: 90%;
  }
  .MainPage__AppSection--title {
    flex-basis: 40%;
    padding: 0 1rem;
  }
  .MainPage__AppSection--img_digital {
    width: 40%;
    padding: 0 1rem 0 0;
  }
  .MainPage__AppSection--title h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
  }
}
@media (max-width: 768px) {
  .MainPage__AppSection {
    flex-direction: column;
    height: 70%;
  }
  .MainPage__AppSection--title {
    width: 90%;
    padding: 0;
  }
  .MainPage__AppSection--title p {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
  }
  .MainPage__AppSection--title h1 {
    font-size: 24px;
    line-height: 32px;
  }

  .MainPage__AppSection--img_digital {
    width: 40%;
    padding: 0;
  }
}
@media (max-width: 425px) {
  .MainPage__AppSection--img_digital {
    width: 70%;
  }
}
@media (max-width: 320px) {
  .MainPage__AppSection {
    height: 100%;
  }
  .MainPage__AppSection--img_digital {
    width: 90%;
  }
} */
