/* .MainPage__FraudCrypto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  margin: 10rem auto 0 auto;
  width: 100%;
  max-width: 1440px;
}
.MainPage__FraudCrypto img {
  width: 35%;
  height: 55%;
}

.MainPage__FraudCrypto--title {
  width: 55%;
  padding: 0;
}
.MainPage__FraudCrypto--title h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 800;
}
.MainPage__FraudCrypto--title > p {
  font-size: 1.2rem;
  font-weight: 600;
}

.MainPage__FraudCrypto--title-package {
  display: flex;
  flex-wrap: wrap;
}
.MainPage__FraudCrypto--title-package a {
  color: black;
  width: 45%;
  margin: 5px 10px;
  text-decoration: none;
}
@media (max-width: 1024px) {
  .MainPage__FraudCrypto {
    gap: 2rem;
  }

  .MainPage__FraudCrypto--title {
    width: 45%;
  }
  .MainPage__FraudCrypto img {
    width: 45%;
    height: 55%;
  }
}
@media (max-width: 768px) {
  .MainPage__FraudCrypto {
    flex-direction: column;
  }
  .MainPage__FraudCrypto img {
    width: 60%;
    height: auto;
    margin-top: 2rem;
  }
  .MainPage__FraudCrypto--title {
    width: 100%;
    padding: 0 1rem 0 1rem;
  }
  .MainPage__FraudCrypto--title h1 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 0.75rem;
  }
  .MainPage__FraudCrypto--title p {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0.75rem;
  }
  .MainPage__FraudCrypto--title-package a {
    width: 90%;
  }
  .MainPage__FraudCrypto--title-package a h2 {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0.75rem;
  }
  .MainPage__FraudCrypto--title-package {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  .MainPage__FraudCrypto img {
    width: 100%;
    height: auto;
  }
  .MainPage__FraudCrypto--title {
    padding: 0 1rem 0 1rem;
  }
  .MainPage__FraudCrypto--title h1 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 0.75rem;
  }

  .MainPage__FraudCrypto--title p {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0.75rem;
  }

  .MainPage__FraudCrypto--title-package a h2 {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0.75rem;
  }
  .MainPage__FraudCrypto--title-package a {
    width: 90%;
  }
  .MainPage__FraudCrypto--title-package {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
} */
