/* .MainPage__MarcketCrypto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  margin: 10rem auto 0 auto;
  width: 100%;
  max-width: 1440px;
}
.MainPage__MarcketCrypto img {
  width: 35%;
  height: 55%;
}

.MainPage__MarcketCrypto--title {
  width: 55%;
  padding: 0;
}
.MainPage__MarcketCrypto--title h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 800;
}
.MainPage__MarcketCrypto--title > p {
  font-size: 1.2rem;
  font-weight: 600;
}

.MainPage__MarcketCrypto--title-package {
  display: flex;
  flex-wrap: wrap;
}
.MainPage__MarcketCrypto--title-package a {
  width: 45%;
  margin: 5px 10px;
  text-decoration: none;
  color: black;
}
@media (max-width: 1024px) {
  .MainPage__MarcketCrypto {
    gap: 2rem;
  }

  .MainPage__MarcketCrypto--title {
    width: 45%;
  }
  .MainPage__MarcketCrypto img {
    width: 45%;
    height: 55%;
  }
}
@media (max-width: 768px) {
  .MainPage__MarcketCrypto {
    flex-direction: column;
  }
  .MainPage__MarcketCrypto img {
    width: 60%;
    height: auto;
  }
  .MainPage__MarcketCrypto--title {
    width: 100%;
    padding: 0 1rem 0 1rem;
  }
  .MainPage__MarcketCrypto--title h1 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 0.75rem;
  }
  .MainPage__MarcketCrypto--title p {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0.75rem;
  }
  .MainPage__MarcketCrypto--title-package a {
    width: 90%;
  }
  .MainPage__MarcketCrypto--title-package a h2 {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0.75rem;
  }
  .MainPage__MarcketCrypto--title-package {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  .MainPage__MarcketCrypto img {
    width: 100%;
    height: auto;
  }
  .MainPage__MarcketCrypto--title h1 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 0.75rem;
  }
  .MainPage__MarcketCrypto--title p {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0.75rem;
  }

  .MainPage__MarcketCrypto--title-package a h2 {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0.75rem;
  }
  .MainPage__MarcketCrypto--title {
    padding: 0 1rem 0 1rem;
  }
  .MainPage__MarcketCrypto--title-package a {
    width: 90%;
  }
  .MainPage__MarcketCrypto--title-package {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
} */
