.MainPage__Video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  height: 495px;
  margin: 0 auto;
}
.MainPage__Video--tag {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  border-radius: 20px;
}
@media (max-width: 1024px) {
  .MainPage__Video {
    height: 393px;
    margin: 2rem 0 7rem 0;
  }
  .MainPage__Video--tag {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .MainPage__Video {
    display: none;
  }
}
