@tailwind base;
@tailwind components;
/* start make and merge all btns style */
.btnNav {
  @apply hidden px-4 py-2 mx-2 text-sm font-semibold rounded-lg shadow-lg font-Inter lg:inline-block xl:inline-block 2xl:inline-block;
}
.btnWhiteNav:hover {
  @apply bg-whiteBtnBgColorHover;
}
.btnWhiteNav:active {
  @apply bg-whiteBtnBgColor;
}
.btnBlackNav:hover {
  @apply bg-blackBtnColorHover;
}
.btnBody {
  @apply px-5 py-2.5 mx-2 font-semibold rounded-lg shadow-sm font-Inter mdMax:text-sm mdMax:leading-4;
}
.btnTrans {
  @apply border-2 bg-transColor text-whiteBtnBgColor;
}
.btnWhite {
  @apply bg-whiteBtnBgColor text-whiteBtnTextColor;
}
.btnBlack {
  @apply bg-blackBtnBgColor text-whiteBtnBgColorHover;
}
/* end make and merge all btns style */

/* start make and merge two App and Baner component style */
.banerAndapp {
  @apply relative flex px-5 overflow-hidden mdMax:flex-col mdMax:text-center mdMax:pt-20 py-36;
}
.banerAndappDetail {
  @apply w-[51%] mdMax:w-full mdMax:mb-14;
}
.banerAndappDetail-span {
  @apply font-extrabold leading-[106px] z-10 tracking-tighter;
}
.banerAndappDetail-p {
  @apply text-xl leading-[32px] mt-5 mb-8 pr-10 flex-wrap mdMax:text-base mdMax:pr-0;
}
.banerAndappImg {
  @apply absolute top-20 -z-10 mdMax:top-auto smMax:max-w-[790px];
}
/* end make and merge two App and Baner component style */

/* start make and merge sell & fraud & market & payment component style */
.fourComponentContainer {
  @apply flex items-start justify-between px-8 mx-auto my-60 mdMax:!flex-col mdMax:my-20 mdMax:px-6 mdMax:items-center;
}
.fourComponentContainer-imgs {
  @apply relative max-w-[520px] w-[45%] flex items-end mdMax:w-full mdMax:mt-12 mdMax:ml-auto;
}
.fourComponentContainer-imgs_first {
  @apply absolute -z-10 top-[-2rem] right-60;
}
.fourComponentContainer-imgs_sec {
  @apply object-cover w-full max-w-md pt-8 rounded-lg;
}
.fourComponentContainer_deatailCont {
  @apply w-[calc(55%-1rem)] mdMax:w-full;
}
.fourComponentContainer_deatailCont div {
  @apply my-6 text-[40px] leading-[48px] font-extrabold mdMax:text-2xl mdMax:mb-3;
}
.fourComponentContainer_deatailCont p {
  @apply mb-16 text-lg font-normal mdMax:text-sm mdMax:mb-8;
}
.fourComponentContainer-itemsContainer {
  @apply flex flex-wrap gap-y-8 gap-x-14 mdMax:gap-2 mdMax:!my-0;
}
.fourComponentContainer-itemsContainer a {
  @apply w-[calc(50%-2rem)] cursor-pointer mdMax:w-full;
}
.fourComponentContainer-itemsContainer i {
  @apply mb-5 text-xl mdMax:text-sm mdMax:mb-3;
}
.fourComponentContainer-itemsContainer h2 {
  @apply mb-4 text-xl font-bold leading-6 mdMax:text-base mdMax:leading-5 mdMax:mb-3 mdMax:font-semibold;
}
.fourComponentContainer-itemsContainer p {
  @apply text-base font-normal mdMax:text-sm mdMax:!mb-0;
}

/* end make and merge sell & fraud & market & payment component style */

@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
